/* The whole page */
html 
{
	position: relative;

	/* Stretch out the height, so that when we say 0px,
	it will actually mean the bottom of the page, and not 
	the bottom of what you can see at first*/
    min-height: 100%;
}

/* The main part where all of the content resides */
body
{
	/* Allocate space for footer, which is 232 pixels tall */
	margin: 0 0 232px;

	/* Blend in with footer images */
	background-color: #0898f8;
}

/* When mouse hovers over a block */
.block:hover
{
	background-color: #4ab7ff;
}

#catagory-block:hover
{
	background-color: transparent;
}

.footer
{
	/* All coordinates should be relative to the page */
	position: absolute;

	/* Ensure that images are at the bottom right corner of the page */
	left: 0;
	bottom: 0;
	/* Width-wise, take up the whole page */
	width: 100%;

	/* The castle image should only appear once, and the other image can loop horozantally */
	background: url(../images/footer-castle.png) no-repeat bottom left,
	url(../images/footer-nocastle.png) repeat-x bottom left;
}

.footerSpace
{
	/* Indent to dirt for readability */
	margin-top: 190px;

	/* Align with body */
	margin-left: auto;
	margin-right: auto;
	max-width: 1024px;
}

/* Border for tables */
.TKK-Post table, .TKK-Post th, .TKK-Post td
{
	/* Padding */
	padding: 5px;
	/* Border is same color as text */
	border: 1px solid #4ab7ff;
}

h1, h2, p, a, li, th, td
{
	color: #414141;
}


/* Border around images */
img
{
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

/* Center navigation */
nav
{
	text-align: center;
}

/* Horozantal line green */
hr
{
	border-color: lime;
}