@font-face
{
	font-family: police;
	src: url(../fonts/police.ttf);
}

body
{
	background: #a799d4;
}

h1
{
	font-family: police;
	font-weight: 100;
	color: #33316e;
	text-shadow: 1px 0 0;
}

label
{
	font-family: calibri;
	font-size: 30px;
}

input[type='radio']
{
    transform: scale(2);
}